<%- include ('../partials/header') %>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('https://images.unsplash.com/photo-1551590192-8070a16d9f67?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Admin Page</h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="container">         
              <% adminActions.forEach((action)=> {
                %>
                <div class="row">
                <div class="col-lg-4 mx-auto ">
                    <button id="<%=action.actionId%>" onclick="catchID(this.id)" type="button" class="btn btn-outline-danger btn-block"><%=action.displayName%></button>
                </div>
            </div>
            <% }); %>
             </div>        
             <script>
                function catchID(clicked_id){
                    alert(clicked_id + " " + "numaralı butona tıklandı.");
                    if(clicked_id==1){
                        window.location.href='changeHomeImage';return false;
                    }
                    if(clicked_id==4){
                        window.location.href='addNewBlog';return false;
                    }
                }
             </script>
<%- include ('../partials/footer') %>
